body {
    margin: 0;
    /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
    background-color: none;
}


.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: inline-block;
    color: white; 
}

section {
    height: 670px;
    padding: 2px;
    text-align: center;
}

header {
    height: 670px;
    font-family: sans-serif;
    text-align: right;
}

header a{
    font-size: 16px;    
}

header ul{
    margin: 0;
    padding: 2px;
}

header li{
    padding: 0 20px; 
    display: inline;
}

header nav {
    float: right; 
    padding: 10px; 
    margin-top: 0px; 
}

header a:hover{
    color: red; 
    font-weight: bold; 
}

#second-image {
    float: left;
    padding-top: 55px;
    margin-left: 20px; 
    width: 60%; 
    height: 50%; 
}

#staff {
    float: left;
    padding-top: 60px;
    margin-left: 0px; 
    width: 60.5%;
    height: 20%;
}

#top-image {
    min-height: 400px;
    height: 100%;
    width: 100%;
    margin-top: -2px;
}

.column {
    left: 10px; 
    margin: auto;
    margin-top: 20px;
    display: inline-block;
    width: 25%;
    position: relative
}

  /* I got this idea from W3 Schools on switch */

.column .switch {  
    display: none; 
    position: absolute;
    top: 0; 
    z-index: 99; 
}

.column:hover .switch{
    display: inline-block;
    width: 80%;
    height: 50%;
    left: 10px;    
}

#product {
    width: 50%;
}

.container-4 {
    margin-top: 30px; 
    padding-top: 20px;
    padding-left: 2px;
    float: left;
    color: white;
}

.column2 {
    left: 50px; 
    margin: auto;
    display: inline-block;
    width: 22%;
    padding-right: 20px;
    padding-left: 20px;
    position: relative
}

.column3 {
    left: 50px; 
    margin: auto;
    display: inline-block;
    width: 22%;
    padding-right: 10px;
    padding-left: 10px;
    position: relative
}

.column4 {
    margin: auto;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    position: relative
}

.container-4 p {
    margin-top: 150px; 
    margin-left: 150px; 
}

#section-2, #section-4 {
    background-color: #131414; 
}

container2 {
    display: inline-block;
}

strong{
    color: black; 
    font-size: 18px; 
}

div h1 {
    font-size: 35px; 
    color: white; 
    padding: 5px; 
    margin: 0;
    background:rgba(0, 0, 0, 0.5);
    text-align: center;
}
   
h2 {
 font-size: 70px; 
 color: white; 
    padding: 10px; 
    margin-top: 50px; 
}

#navbar {
    position:sticky;
    top: 0;
    width: 100%;
    height: 100px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    text-align: center;
    z-index: 99;
    color: white; 
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
#navbar a.active {
    background-color: #4CAF50;
    color: white;
}
    
a{
    color: white; 
    margin-right: 0px; 
    padding: 5px;
}
  
table {
   margin-top: 25px; 
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse; 
}

tr, th {
    border: 2px solid white;  
}

table p{
color: white; 
font-size: 20px; 
}

li{ 
    margin-right: 0;
}

h3 { 
    padding-left: 400px; 
}

#map { 
    height: 150px; 
    width: 100%;
    margin-top: 110px; 
}

h5 {
    margin-top: 50px; 
    font-size: 20px ; 
    text-align: justify;
    line-height: 2;
    margin-left: 600px; 
    padding-left: 220px; 
    color: white;
}

span{
    font-size: 20px; 
    color: white; 
}

.ani{
    position: absolute;
    left: 200px;
    top:  0px;
    z-index: 1;
    opacity: .7;
}
/* I implimented this idea of switching class based on class 
credits to: Caraballo, Orlando NYCDA Instructor SEI-2018 */

.ani-2{
    position: absolute;
    right: 10px;
    bottom: -4;
    z-index: 1;
    opacity: .7;
    animation: rotation 4s infinite linear;
}
 
@keyframes rotation {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(-350deg);}
}

.trust{
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;      

}
@keyframes fadeIn {    
    25% { opacity: 1; } 
    70% { opacity: 0; }
}

footer {
    background-color: #131414;
    color: #1F2D3D;
    text-align: right;
    height: 50px;
    padding-right: 40px;
    padding-top: 10px; 
}